@page
@model ADI.ADB.Pages.Empleado.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EMPLEADO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EMPLEADO.ID" />
            <div class="form-group">
                <label asp-for="EMPLEADO.NOMBRE" class="control-label"></label>
                <input asp-for="EMPLEADO.NOMBRE" class="form-control" />
                <span asp-validation-for="EMPLEADO.NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLEADO.APELLIDO" class="control-label"></label>
                <input asp-for="EMPLEADO.APELLIDO" class="form-control" />
                <span asp-validation-for="EMPLEADO.APELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLEADO.EMAIL" class="control-label"></label>
                <input asp-for="EMPLEADO.EMAIL" class="form-control" />
                <span asp-validation-for="EMPLEADO.EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLEADO.TELEFONO" class="control-label"></label>
                <input asp-for="EMPLEADO.TELEFONO" class="form-control" />
                <span asp-validation-for="EMPLEADO.TELEFONO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLEADO.DIRECCION" class="control-label"></label>
                <input asp-for="EMPLEADO.DIRECCION" class="form-control" />
                <span asp-validation-for="EMPLEADO.DIRECCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLEADO.ID_ROLE" class="control-label"></label>
                <select asp-for="EMPLEADO.ID_ROLE" class="form-control" asp-items="ViewBag.ID_ROLE"></select>
                <span asp-validation-for="EMPLEADO.ID_ROLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

