@page
@model ADI.ADB.Pages.Compras.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>COMPRA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COMPRA.ID" class="control-label"></label>
                <input asp-for="COMPRA.ID" class="form-control" />
                <span asp-validation-for="COMPRA.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COMPRA.FECHA" class="control-label"></label>
                <input asp-for="COMPRA.FECHA" class="form-control" />
                <span asp-validation-for="COMPRA.FECHA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COMPRA.ID_PROVEEDOR" class="control-label"></label>
                <select asp-for="COMPRA.ID_PROVEEDOR" class ="form-control" asp-items="ViewBag.ID_PROVEEDOR"></select>
            </div>
            <div class="form-group">
                <label asp-for="COMPRA.Id_EMPLEADO" class="control-label"></label>
                <select asp-for="COMPRA.Id_EMPLEADO" class ="form-control" asp-items="ViewBag.Id_EMPLEADO"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

