@page
@model ADI.ADB.Pages.Compras.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Compra.Proveedor_id" class="control-label"></label>
                <select asp-for="Compra.Proveedor_id" class ="form-control" asp-items="ViewBag.Proveedor_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Empleado_id" class="control-label"></label>
                <select asp-for="Compra.Empleado_id" class ="form-control" asp-items="ViewBag.Empleado_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Compra.TotalFacturado" class="control-label"></label>
                <input asp-for="Compra.TotalFacturado" class="form-control" />
                <span asp-validation-for="Compra.TotalFacturado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compra.TotalDescuento" class="control-label"></label>
                <input asp-for="Compra.TotalDescuento" class="form-control" />
                <span asp-validation-for="Compra.TotalDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Descuento" class="control-label"></label>
                <input asp-for="Compra.Descuento" class="form-control" />
                <span asp-validation-for="Compra.Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Fecha" class="control-label"></label>
                <input asp-for="Compra.Fecha" type="date" id="fechaInput" class="form-control"/>
                <span asp-validation-for="Compra.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        // Obtén la fecha actual en el formato YYYY-MM-DD
        var fechaActual = new Date().toISOString().split('T')[0];
        
        // Establece la fecha actual como valor predeterminado
        document.getElementById('fechaInput').value = fechaActual;
    </script>
}

<div>
    <a asp-page="Index">Back to List</a>
</div>

