@page
@model ADI.ADB.Pages.Linea.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Linea</h4>
<hr />
<div class="card">
    <div class="card-header">
        <h4 class="mb-0">Edit Linea</h4>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Linea.id" />
            <div class="form-group">
                <label asp-for="Linea.Nombre" class="control-label"></label>
                <input asp-for="Linea.Nombre" class="form-control" />
                <span asp-validation-for="Linea.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>

