@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Acerca de ADI</h1>
    <img src="https://scontent.fsjo5-1.fna.fbcdn.net/v/t39.30808-6/415017194_356260440479299_479317648200257422_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=HrZHrxGTvBAAb6cmpIj&_nc_ht=scontent.fsjo5-1.fna&oh=00_AfAX34UdqfkWnLTqfCI-MPmwlwYrdooPYIbo55iXzE9OKA&oe=661CAED3" 
         alt="Logo de HTML5"
         width="200px"
    >
    <h2>Descripcion General</h2>
    
    <p>ADI es un Emprendimiento dedicado a la venta de joyería principalmente en Línea,
        ADI inicio el día 1 de noviembre del año 2022 vendiendo por medio de su red social Instagram adi_ofc2022, 
        Actualmente cuenta con 3 locaciones alrededor del país Managua, Matagalpa y Tipitapa.
    </p>
    <h2>Vision</h2>
    <p>Todas somos consentidas</p>
    <h2>Mision</h2>
    <p>Es un espacio donde vas a encontrar los mejores accesorio, una marca destinada a consentirte y llenarte de mimos.</p>
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>