@page
@model ADI.ADB.Pages.VENTAS.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VENTum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VENTum.ID" />
            <div class="form-group">
                <label asp-for="VENTum.ID_CLIENTE" class="control-label"></label>
                <select asp-for="VENTum.ID_CLIENTE" class="form-control" asp-items="ViewBag.ID_CLIENTE"></select>
                <span asp-validation-for="VENTum.ID_CLIENTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VENTum.ID_EMPLEADO" class="control-label"></label>
                <select asp-for="VENTum.ID_EMPLEADO" class="form-control" asp-items="ViewBag.ID_EMPLEADO"></select>
                <span asp-validation-for="VENTum.ID_EMPLEADO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VENTum.FECHA" class="control-label"></label>
                <input asp-for="VENTum.FECHA" class="form-control" />
                <span asp-validation-for="VENTum.FECHA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

